node_modules
logs
pids
lib-cov
coverage
build/Release

*.log
*.pid
*.seed

.gitignore
.npmignore
.editorconfig
.jshintrc
.grunt
.lock-wscript
.travis.yml

demo
lib
test

gulpfile.js
example-screenshot.png
