$vulcanup-animation-time: 300 !default;

$vulcanup-border: 1px dashed #bbb !default;
$vulcanup-background-color: #eaeaea !default;
$vulcanup-color: #999 !default;
$vulcanup-font-size: 0.9em !default;
$vulcanup-icons-font-size: 1.2em !default;

$vulcanup-uploading-color: #666 !default;
$vulcanup-uploading-background-color: $vulcanup-background-color !default;
$vulcanup-uploading-bar-color: #fd332f !default;

$vulcanup-error-color: #fd332f !default;
$vulcanup-error-background-color: $vulcanup-background-color !default;

$vulcanup-uploaded-bar-color: #17C323 !default;

$vulcanup-drag-border-color: #2950d1 !default;

$vulcanup-validation-color: #fd332f !default;
