// ---------------------------------------------------- //
// Base //

/// Animation time in ms.
/// @type {Number}
$vulcanup-animation-time: 300 !default;

/// Border.
/// @group base
$vulcanup-border: 1px dashed #bbb !default;

/// Background color.
/// @type {color}
/// @group base
$vulcanup-background-color: #eaeaea !default;

/// Text color.
/// @type {color}
/// @group base
$vulcanup-color: #999 !default;

/// Font size.
/// @group base
$vulcanup-font-size: 0.9em !default;

/// Icons font size. Slightly higher.
/// @group base
$vulcanup-icons-font-size: 1.2em !default;


// ---------------------------------------------------- //
// Uploading //

/// Uploading text color.
/// @type {color}
/// @group uploading
$vulcanup-uploading-color: #666 !default;

/// Uploading background color.
/// @type {color}
/// @group uploading
$vulcanup-uploading-background-color: $vulcanup-background-color !default;

/// Uploading bar color.
/// @type {color}
/// @group uploading
$vulcanup-uploading-bar-color: #fd332f !default;


// ---------------------------------------------------- //
// Error //

/// Error text color.
/// @type {color}
/// @group error
$vulcanup-error-color: #fd332f !default;

/// Error background color.
/// @type {color}
/// @group error
$vulcanup-error-background-color: $vulcanup-background-color !default;


// ---------------------------------------------------- //
// Uploaded //

/// Uploaded bar color.
/// @type {color}
/// @group uploaded
$vulcanup-uploaded-bar-color: #17C323 !default;


// ---------------------------------------------------- //
// Drag //

/// Drag and drop bar color.
/// @type {color}
/// @group drag
$vulcanup-drag-border-color: #2950d1 !default;


// ---------------------------------------------------- //
// Validation //

/// Validation text color.
/// @type {color}
/// @group validation
$vulcanup-validation-color: #fd332f !default;
